# remap caps lock to escape
setxkbmap -option caps:escape

# key holding will print only one character
xset -r

# prevent monitor to turn off
xset -dpms
xset s noblank
xset s off

# Add wallpaper
xwallpaper --zoom ~/.config/wallpaper.png
dwm_statusbar &
# notification deamon, used with notify-send
hash dunst && dunst &
# continuous file synchronization program, access syncthing at 127.0.0.1:8384
hash syncthing && syncthing &


exec dwm
