# remap caps lock to escape
setxkbmap -option caps:escape

# key holding will print only one character
xset -r

# Key binding deamon, it needs a config file, located in ~./config/sxhkd/sxhkdrc, to run in
sxhkd &

# Add wallpaper
xwallpaper --zoom ~/.config/wallpaper.png
statusbar &
# notification deamon, used with notify-send
dunst &

exec dwm
